.size-option-unavailable-btn {
    width: 41px;
    height: 41px;
    border-radius: 50%; 
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
}

.size-option-unavailable-btn span {
    margin-left: -17px;
    margin-top: 10px;
    position: absolute;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Futura-Regular';
}

@media screen and (max-width: 400px) {
    .size-option-unavailable-btn {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 400px) {
    .size-option-unavailable-btn span {
        margin-left: -14px;
        margin-top: 5px;
    }
}