.product-item-container {
    display: flex;
    flex-direction: row;
}

.sidebar-content {
    display: flex;
}

@media only screen and (max-width: 1135px) {
    .sidebar-content {
        display: block;
    }

    .photo-gallery-container {
        padding-left: 40px;
        margin-top: 62px;
    }
}

@media screen and (min-width: 240px) and (max-width: 600px) {
    .product-item-container {
        padding: 0 20px;
    }
    .sidebar-content {
        display: none;
    }
}